/*vh*/
.min-vh {
  min-height: 69vh;
}

/*link button*/
a,
.nav-customized {
  color: #fff !important;
  text-decoration: none;
}
a:hover,
.nav-customized:hover {
  color: #6f42c1 !important;
}

/*submit button*/
.purple-button {
  background-color: #6f42c1;
  border-color: #6f42c1;
}
.purple-button:hover {
  background-color: #6e42c1d7;
  border-color: #6e42c1d7;
}
.purple-button:active {
  background-color: #6e42c1ad !important;
  border-color: #6e42c1ad !important;
}

/*back button*/
.back-button {
  color: #fff;
  background-color: unset;
}

.back-button:hover {
  color: #6f42c1;
}

/*form*/
.form-select:focus,
.form-control:focus {
  border-color: #495057;
  box-shadow: none;
}
.warning {
  color: #e50000;
}

/*title*/
h1 {
  color: #6f42c1;
}

/*card*/
.truncate-two-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.glow-card:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #6e42c1d7 !important;
}

/*carousel*/
.slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
}

.slick-list {
  height: 100% !important;
}

.slick-track {
  display: flex !important;
  align-items: center !important;
}

.slick-dots li button:before {
  color: #6f42c1 !important; /* Change to your desired color */
}
