/*link button*/
a {
  color: #fff !important;
}
a:hover {
  color: #6f42c1 !important;
}

/*submit button*/
.purple-button {
  background-color: #6f42c1;
  border-color: #6f42c1;
}
.purple-button:hover {
  background-color: #6e42c1d7;
  border-color: #6e42c1d7;
}
.purple-button:active {
  background-color: #6e42c1ad !important;
  border-color: #6e42c1ad !important;
}

/*form*/
.form-select:focus {
  border-color: #495057;
  box-shadow: none;
}
.form-select:focus {
  border-color: #495057;
  box-shadow: none;
}
.warning {
  color: #e50000;
}

/*title*/
h1 {
  color: #6f42c1;
}
